.modal-dialog * {
    border-radius: 0;
}

.modal-dialog .panel {
    width: 485px;
}

.modal-dialog .panel-heading {
    margin-top: 0;
    padding-top: 1px;
    padding-bottom: 1px;
}

#close-forgot-password {
    opacity: 1;
    font-size: 18px;
    margin-top: -2px;
    color: white;
    cursor: pointer;
}

.modal-dialog .glyphicon-envelope{
    top:0;
}

#resetPwd{
    margin-left:0;
}

.modal-dialog .support-text{
    margin-top:10px;
}