body
{
    font-family: 'Open Sans', sans-serif;
}

.navbar{
    border-bottom: 1px solid #c8c8c8;
    background-color:#fff;
    min-height:70px;
}

.nav a{
    color:#555;
}

.nav a:hover{
    color:#72c02c;
}

.nav >li> a:hover{
    background-color:#fff;
}

.navbar-nav > li > a{
    margin-top:25px;
    padding-top:5px;
    max-height:30px;
}

.body-content{
    margin-top:40px;
}
